body {
    padding-top: 20px;
    padding-bottom: 20px;    
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: transparent;
}

.card-block {
    padding-top: 0.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.05rem;
    padding-left: 1.25rem;   
}

.blockquote {
    padding-bottom: 0.1rem;   
    font-size:90%;
}

.monthly {
    box-shadow: 0 13px 40px rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    max-width:800px;        
}

.mycalendar {
    padding-bottom: 1.25rem;
}



	